.super-button-ok {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/ok_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-ok:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/ok_active.png);
    background-size: cover;
  }

  .super-button-back {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/back_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-back:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/back_active.png);
    background-size: cover;
  }

  .super-button-leave {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/leave_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-leave:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/leave_active.png);
    background-size: cover;
  }

  .super-button-menu {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/menu_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-menu:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/menu_active.png);
    background-size: cover;
  }

  .super-button-5050 {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/5050_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-5050-active{
    width: 7.32vw;
    height: 4.54vw;
    transform: scale(1.3);
    background-image: url(../Images/buttons/5050_active.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-5050:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/5050_active.png);
    background-size: cover;
  }

  .super-button-phone {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/phone_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-phone-active{
    width: 7.32vw;
    height: 4.54vw;
    transform: scale(1.3);
    background-image: url(../Images/buttons/phone_active.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-phone:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/phone_active.png);
    background-size: cover;
  }

  .super-button-audience {
    width: 7.32vw;
    height: 4.54vw;
    background-image: url(../Images/buttons/audience_normal.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-audience-active{
    width: 7.32vw;
    height: 4.54vw;
    transform: scale(1.3);
    background-image: url(../Images/buttons/audience_active.png);
    background-size: cover;
    transition: all 300ms ease-in;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .super-button-audience:hover{
    transform: scale(1.3);
    background-image: url(../Images/buttons/audience_active.png);
    background-size: cover;
  }